services:
  server:
    image: coderbillzay/timesheet-api:latest
    build: .
    container_name: api
    ports:
      - "${REST_PORT:-8000}:3001"
    networks:
      - app-network
    env_file:
      - .env.prod
    environment:
      - APP_ENV=production
    depends_on:
      - db

  db:
    image: postgres:17-alpine
    restart: always
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: timesheet_management
    ports:
      - "${POSTGRES_PORT:-5591}:${POSTGRES_PORT}"
    volumes:
      - ./migrations:/docker-entrypoint-initdb.d
      - ../pgdata:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge
